{% extends "master.html" %}
{% block title %}
        My Productive Workers - List of Workers    
{% endblock title %}

    
{% block content %}
    <div class="mycard">
        <h1>Workers</h1>
        <ul>
        {% for x in mymembers %}
            <li><a href="details/{{ x.id }}">{{x.firstname}} {{x.lastname}}</a></li>
        {% endfor %}
        </ul>
    </div>
    <br>
    <p style="text-align: center;">To check the worker's list in a tabular form, click <a href="/testing">here</a></p>
 {% endblock  %}